.navbar{
	padding: 14px 
}

@media (max-width: 767px) {
	.navbar {
		min-height: 93px
	}
}

/* start qui sommes nous */
.about{
	margin-top: -4px;
}
.about .container h2{color: #EB7A08;}
.about .container {
	padding: 20px 100px;
	padding-top: 25px;
	background-color: #E8E7E7;
}

/* end qui sommes nous */

/* section 2*/

.sizeimg img{
	padding: 30px 110px;
}


.styletext {
    margin: 0 0 21px 0;
    color: #666e74;
    font-family: Helvetica, Arial;
    text-align: justify;
}
.section3 .container ul li{
      padding: 0px 0px 0px 0px;
      margin: -10px -10px 0px 0px;
	}

.section3 h4{
    margin-top: 0px;
    margin-left: 60px;
}
.ligne2{
    /*background-color: #FB7A08;*/
    width: 10%;
    height: 2px;
    /*padding-left: 0px;*/
    margin-top: 0px;
    margin-bottom: 15px;
}
.ligne3{
    /*background-color: #FB7A08;*/
    width: 50%;
    height: 2px;
    margin-top: -6px;
    margin-bottom: 15px;
 }

	

/* section 2*/

/* start section3 */
.section3 h1{
	margin-bottom: 50px;
	color: #EB7A08;
	text-align: center;
}

.bg-white{
	margin-top: -15px;
	background-color: #F1F1F1;
}

.section3 .container {
	padding: 30px 100px;
}

.section3 .container p,
.section3 .container ul li{
    color: #6E6E6E;
    font-size: 0.93em;
	line-height: 1.8em;
    width: 90%;
}
.section3 .container ul { list-style: none; padding: 0; margin: 0}
.section3 .container ul li { line-height: 2em }
.section3 .container i{
	color: #EB7A08;
	padding-right: 10px;
}

.section3 .container .p-bold{
	font-weight: bolder;
}

/* start section 4 */
.section4 .container {
	margin-top: -15px;
	background-color: #EB7A08;
	color: #FFF;
	padding: 30px 100px;
}

.section4 .container h3{
	color: #FFF;
	font-family: 'Open Sans Condensed';
	font-size: 1.7em;
	margin-bottom: 25px 
}

.section4 .container p,
.section4 .container ul li{
    color: #222;
    font-size: 0.93em;
	line-height: 1.8em;
    width: 90%;
}
.section4 .container ul { list-style: none; padding: 0; margin: 0}
.section4 .container ul li { line-height: 2em }
.section4 .container i{
	color: #EEE;
	padding-right: 10px;
}
/* end section 4 */
.box_skitter{
	max-width: 500px;
}
@media (max-width: 1230px) {
	.box_skitter{
		width: 420px;
	}	
}
.container_skitter{
	width: 500px;
	overflow: hidden;
}
.label_skitter{
	top: 0;
	height: 40px;
}
.box_skitter .label_skitter{
	background: url('../img/slide1-frame.png');
	opacity: 1;
}

.label_skitter p a{
	font-size: 0.6em;
	letter-spacing: .008em;
	color: #333;
	font-family: Arial;
	text-decoration: none;
	position: absolute;
	top: 1px;
	left: 62px;
}
.label_skitter p a:hover,
.label_skitter p a:focus{
	color: #EB7A08;
}


.info_slide_dots{
	top: 270px;
}
.info_slide_dots span.image_number_select{
	background-color: #EB7A08 !important;
}

@media (max-width: 700px) {
	.box_skitter{
		width: 320px;
	}	
}

.line-before-title{
	display: inline-block;
	width: 10%;
	height: 2px;
	background-color: #EB7A08;
	margin-left: -60px;
	margin-right: 10px;
}

body{
	min-height: 1400px;
}

.banner1{
	background: url('../img/servtop-bg1.jpg') no-repeat top center;	
	margin: 0 auto;
	margin-top: -50px;
	width: 100%;
	height: 400px;
}
.banner1 h1{
	background-color: #FB7A08;
	color: #FFF;
	margin-top: 80px;
	margin-left: 0px;
	max-width: 700px;
	padding: 15px 10px;
}

@media (max-width: 810px) {
	.banner1 h1{ font-size: 1.5em; max-width: 80%}
}

/* start blocks */
.blocks{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 25px;
	margin-bottom: 35px;
	padding-top: 25px;
	text-align: center;
	/*background-color: #444;*/
	/*color: #FFF;*/	
}
.blocks h2{color: #EB7A08;}
.blocks .slideInLeft,
.blocks .bounceInUp,
.blocks .slideInRight{
	padding: 40px 5px;
	-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
			-o-transition: all .3s ease-in-out;
				-ms-transition: all .3s ease-in-out;
					transition: all .3s ease-in-out;
}
.blocks a{
	border: 1px solid #444;
	margin: 20px auto;
	background: transparent;
}
.blocks a:hover, 
.blocks a:focus {
	border-color: #FFF;
	background: transparent;
	color: #FFF;	
}

.blocks .slideInLeft:hover,
.blocks .bounceInUp:hover,
.blocks .slideInRight:hover{
	/*background-color: #d35400;*/
	background-color: rgba(0,0,0, 0.4);
	color: #FFF;
}

.blocks .slideInLeft:hover h2,
.blocks .bounceInUp:hover h2,
.blocks .slideInRight:hover h2{
	color: white;
}

.blocks .slideInLeft:hover a,
.blocks .bounceInUp:hover a,
.blocks .slideInRight:hover a{
	color: white;
	border-color: #FFF;
}

.timeline{
	margin-top: 10px;
}
.timeline .container {
	margin:0 auto;
	overflow:auto;
	padding:2%;
}
.right-content, 
.left-content {
	float:left;
	display:block;
	width:50%;
	padding:1% 2%;
}
.left-content {
	border-right:2px solid #EB7A08;	
	text-align:right;
	overflow: visible;
}
.left-content p,
.right-content p{
	position: relative;
}
.left-content p:after,
.right-content p:before{
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #EB7A08;
	position: absolute;
}

.left-content p:after{
	top: -40px;
	right: -51px;
}

.right-content p:before{
	top: -40px;
	left: -51px;
}


.left-content p {
	margin:150px 0 0;
}
.right-content p {
	margin:80px 0 150px;
}


.container p {
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7 ease-in-out;
	-ms-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;	
}
.left-content .more-padding {
  padding-right:100px;
}
.right-content .more-padding {
  padding-left:100px;
}
/*.well { background: transparent; }*/
.well h4 {color: #EB7A08;}
.well p{
	margin: 0;
}

.left-content .well:nth-child(2) {
	margin-top: 130px;
}
.left-content .well:nth-child(3) {
	margin-top: 50px;
}

.right-content .well:nth-child(1) {
	margin-top: 80px;
}
.right-content .well:nth-child(2) {
	margin-top: 50px;
}
.right-content .well:nth-child(3) {
	margin-top: 100px;
}

.exception1{ margin-top: 60px !important; }
.exception2{ margin-top: 85px !important; }
.exception0{ margin-top: 85px !important; }

.content2, 
.content3{
	display: none;
}

/* navs */
.nav-tabs{ 
	max-width: 650px;
	text-align: center;
}
.nav-tabs {border-bottom: none; margin:0 auto }
.nav-tabs a {
	padding: 0 10px;
}
.nav-tabs a:hover, 
.nav-tabs a:focus, 
.nav-active {
	background-color: #EB7A08;
	color: #FFF;
}


